@import '../../assets/scss/main.scss';
@import '../../assets/scss/variables.scss';

.wrapper {
    .full-content {
        .main-content {
            .tabs-btn {
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                .search-date {
                    background: #FFFFFF;
                    border: 1px solid #A2A2A2;
                    border-radius: 5px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    margin-right: 24px;

                    .form-group {
                        margin-right: 8px;
                        margin-bottom: 0;
                        position: relative;

                        input.form-control {
                            border: none;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    .form-group:first-child::after {
                        border-right: 1px solid #A2A2A2;
                        content: '';
                        position: absolute;
                        right: -4px;
                        top: -5px;
                        bottom: 0;
                        height: 48px;
                        width: 1px;
                    }

                    button.search-btn.btn.btn-primary {
                        background: #EDEDED;
                        border-radius: 5px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 91.65%;
                        color: #A2A2A2;
                        text-transform: uppercase;
                        border-color: #EDEDED;
                        padding: 8px;
                    }
                }

                .nav-pills {

                    .nav-link.active,
                    .nav-pills .show>.nav-link {
                        background: #6DB0E1;
                        color: #fff;
                    }

                    .nav-item {
                        margin-right: 15px;

                        a {
                            color: #A2A2A2;
                            font-family: $fontfamilyAssistant;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 91.65%;
                            width: 141px;
                            text-align: center;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #FAFAFA;
                            border-radius: 5px;
                            color: #A2A2A2;
                            text-transform: capitalize;
                        }
                    }
                }
                button.new-btn.btn.btn-primary {
                    background: #FAFAFA !important;
                    border-radius: 5px;
                    border: none !important;
                    width: 55px !important;
                    &:hover {
                        opacity: 0.65;
                        background: #FAFAFA !important;
                    }
                }
            }

            .stat-content {
                .stat-block {
                    margin-bottom: 24px;

                    .medal-wrap {
                        .heading-block {
                            background: #FAFAFA;
                            // background: #6DB0E1;
                            border: 1px solid #FAFAFA;
                            border-radius: 5px;
                            justify-content: center;
                            margin-bottom: 12px;
                            padding: 10px 7px;
                            align-items: center;
                            h2 {
                                font-size: 15px;
                            }
                        }
                    }
                    .heading-block {
                        background: #FAFAFA;
                        // background: #6DB0E1;
                        border: 1px solid #FAFAFA;
                        border-radius: 5px;
                        justify-content: space-between;
                        margin-bottom: 12px;
                        padding: 10px 25px;
                        align-items: center;

                        h2 {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 91.65%;
                            /* or 27px */
                            color: #9F9F9F;
                            margin-bottom: 0;
                            font-family: $fontfamilyAssistant;
                            background: #E3F0F8;
                            border-radius: 3px;
                            padding: 5px 10px;
                        }

                        h2.price {
                            font-family: $fontfamilyArialRegular;
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 91.65%;
                            color: #9F9F9F;
                            background-color: transparent;
                        }
                    }

                    .content-block {
                        background: #FAFAFA;
                        // border: 1px solid #FFFFFF;
                        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        padding: 12px;
                        height: 220px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        span.pro-badge {
                            background: #E3F0F8;
                            border-radius: 3px;
                            width: 50px;
                            height: 26.88px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 400;
                            font-size: 19px;
                            line-height: 91.65%;
                            color: #9F9F9F;
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            font-family: $fontfamilyAssistant;
                        }

                        h2 {
                            font-family: $fontfamilyArialRegular;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 50px;
                            line-height: 91.65%;
                            color: #9F9F9F;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .content-block.medal-block {
                        display: block;
                        background: #FFFFFF;
                        border: 1px solid transparent;
                        box-shadow: none;
                        height: auto;
                        padding: 0;

                        .medal-wrap {
                            background: #FAFAFA;
                            border-radius: 10px;
                            padding: 6px 25px;
                            margin-bottom: 20px;


                            .medal-price {
                                display: flex;
                                align-items: center;
                                height: 100%;

                                h3 {
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 91.65%;
                                    color: #A1A1A1;
                                    font-family: $fontfamilyArialRegular;
                                    margin: 0 0 0px 5px;
                                
                                }
                            }

                            .view-wrap {
                                display: flex;
                                justify-content: end;
                                align-items: center;
                                height: 100%;

                                button.view-btn.btn.btn-primary {
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 25px;
                                    line-height: 91.65%;
                                    color: #91A0AB;
                                    background: transparent;
                                    border: transparent;
                                    padding: 0;

                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }

                            span.expired-badge {
                                background: #C6C5C3;
                                border-radius: 5px;
                                height: 44px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 91.65%;
                                color: #FFFFFF;
                                margin: 0 !important;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            span.post-badge {
                                background: #BCD9F9;
                                border-radius: 5px;
                                height: 44px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 91.65%;
                                color: #FFFFFF;
                                margin: 0 !important;
                            }

                            span.wait-badge {
                                height: 44px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 91.65%;
                                color: #FFFFFF;
                                margin: 0 !important;
                                background: #F19DA5;
                                border-radius: 5px;
                            }
                            .medalText {
                                img {
                                    width: 18px;
                                }
                            }
                            .reviewText {
                                h3 {
                                    font-family: $fontfamilyArialRegular;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 25px;
                                    line-height: 91.65%;
                                    color: #A2A2A2;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 16px 0;
                                }
                            }
                        }
                    }
                }

                .stat-block.expired-block {
                    .heading-block.d-flex {
                        margin-bottom: 27px !important;
                    }

                    .content-block.medal-block {
                        .medal-wrap {
                            background: #FAFAFA;
                            border-radius: 10px;
                            padding: 9px 25px;
                            margin-bottom: 14px;
                        }
                    }
                }
                button.main-export.btn.btn-primary {
                    background: #EDEDED;
                    border: 1px solid #A2A2A2;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 91.65%;
                    color: #9F9F9F;
                    width: 100%;
                    height: 49px;
                }
            }
            .stat-block.title-wrp {
                margin-top: 35px;
            }
        }
    }
}
.wrapper {
    .full-content {
        .main-content {
            .stat-content {
                .stat-block {
                    .heading-block {
                        h2 {
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
}
.wrapper {
    .full-content {
        .main-content {
            .stat-content {
                .feedbackBlock {
                .stat-block {
                        .content-block.medal-block {
                            .medalOuter {
                                .medal-wrap {
                                    padding: 16px 15px;
                                }
                            }
                        }
                        .heading-block {
                            padding: 14px 22px;
                            h2 {
                                font-size: 15px;
                                font-weight: 600;
                                font-family: $fontfamilyAssistant;
                                line-height: 91.65%;
                                color: #A1A1A1;
                            }
                            h2.price {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 19px;
                                line-height: 91.65%;
                                color: #9F9F9F;
                                font-family: $fontfamilyArialRegular;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Media Query start */
@media only screen and (max-width: 1440px) {
    .wrapper {
        .full-content {
            .main-content {
                .stat-content {
                    .stat-block {
                        .content-block.medal-block {
                            .medal-wrap {
                                .medal-price {
                                    h3 {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1360px) {
    .wrapper {
        .full-content {
            .main-content {
                .tabs-btn {
                    justify-content: flex-start;

                    .nav-pills {
                        .nav-item {
                            a {
                                width: 100px;
                                height: 48px;
                            }
                        }
                    }
                }

                .stat-content {
                    .stat-block {
                        .heading-block {
                            padding: 10px;

                            h2.price,
                            h2 {
                                font-size: 20px;
                            }
                        }

                        .content-block.medal-block {
                            .medal-wrap {
                                padding: 12px 6px;

                                span.post-badge,
                                span.wait-badge {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .stat-block.expired-block {
                        .content-block.medal-block {
                            .medal-wrap {
                                padding: 6px 10px;

                                span.expired-badge {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .wrapper {
        .full-content {
            .main-content {
                .stat-content {
                    .stat-block {
                        .content-block.medal-block {
                            .medal-wrap {
                                .heading-block.d-flex {
                                    h2 {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .wrapper {
        .full-content {
            .main-content {
                .tabs-btn {
                    .nav-pills {
                        .nav-item {
                            margin-right: 10px;

                            a {
                                width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .wrapper {
        .full-content {
            .main-content {
                .tabs-btn {
                    .search-date {
                        margin-right: 10px;

                        button.search-btn.btn.btn-primary {
                            font-size: 14px;
                        }

                        .form-group {
                            input.form-control {
                                width: 120px;
                                padding-left: 0;
                                font-size: 14px;
                                padding-right: 0;
                            }
                        }
                    }

                    .nav-pills {
                        .nav-item {
                            a {
                                width: 60px;
                            }
                        }
                    }
                }

                .stat-content {
                    .stat-block {
                        .content-block.medal-block {
                            .medal-wrap {
                                .col-4 {
                                    padding-right: 0;
                                    padding-left: 0;

                                    .view-wrap {
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .wrapper {
        .full-content {
            .stat-content {
                .pl-2.col-md-6, .pl-0.col-lg-4 {
                    padding-left: 15px !important;
                }
            }
            .main-content {
                .tabs-btn {
                    // flex-direction: column-reverse;
                    align-items: flex-start;

                    .tab-search {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .wrapper {
        .full-content {
            .stat-content {
                .pr-0.col-md-6 {
                    padding-right: 15px !important;
                }
                .pl-2.col-md-6, .pl-0.col-lg-4 {
                    padding-left: 15px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .wrapper {
        .full-content {
            .main-content {
                .tabs-btn {
                    flex-wrap: wrap;
                    .nav-pills {
                        justify-content: space-between;
                        width: 100%;
                        .nav-item {
                            margin-right: 2px;
                            a {
                                width: 50px;
                                height: auto;
                                padding: 0.5rem;
                            }
                        }
                    }
                    .search-date {
                        margin-right: 0;
                        .form-group {
                            input.form-control {
                                width: 90px;
                            }
                        }
                    }
                    .tab-search {
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}