@import '../../assets/scss/main.scss';
@import '../../assets/scss/variables.scss';


.previewImg {
    padding-top: 0 !important;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    img {
        height: calc(100% - 20px);
        max-width: 100%;
        width: calc(100% - 20px);
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0px;
        bottom: 10px;
        border-radius: 5px; 
    }
}

// .wrapper {
//     .full-content {
//         .main-content {
//             .listing-headder {
//                 .search-point {
//                     display: flex;
//                     margin-bottom: 40px;

//                     form.search-box {
//                         max-width: 310px !important;
//                         width: 100%;
//                         position: relative;
//                         margin-right: 15px;

//                         input.form-control {
//                             border-radius: 5px;
//                             height: 49px;
//                             padding-left: 50px;
//                             font-size: 22px;
//                             line-height: 20px;
//                             background: #FFFFFF;
//                             border: 1px solid #A2A2A2;

//                             &:focus {
//                                 box-shadow: none;
//                             }
//                         }

//                         button.btn.btn-outline-success {
//                             position: absolute;
//                             left: 0;
//                             top: 0;
//                             bottom: 0;
//                             border: none;

//                             &:hover,
//                             &:focus {
//                                 background-color: transparent;
//                                 box-shadow: none;
//                             }
//                         }

//                         button.export-btn.btn.btn-primary {
//                             font-size: 22px;
//                             line-height: 91.65%;
//                             color: #716F6F;
//                             height: 49px;
//                             border: none;
//                             padding: 10px 16px;
//                             background: #FFFFFF;
//                             border: 1px solid #A2A2A2;
//                             border-radius: 5px;
//                         }
//                     }

//                     button.new-btn.btn.btn-primary {
//                         background: #6DB0E1;
//                         border-radius: 5px;
//                         border-color: #6DB0E1;
//                         height: 46px;
//                         width: 80px;
//                         font-size: 25px;
//                         line-height: 91.65%;
//                         color: #FFFFFF;
//                     }
//                 }
//             }

//             .listing-content-table {
//                 .table.porfile-list {
//                     border-collapse: separate;
//                     border-spacing: 0 3px;

//                     thead {
//                         th {
//                             vertical-align: bottom;
//                             border-bottom: none;
//                             background: #6DB0E1;
//                             color: #fff;
//                             font-weight: 400;
//                             font-size: 22px;
//                             line-height: 91.65%;
//                         }
//                     }

//                     tr {
//                         background: #F5F5F5;

//                         td {
//                             border: none;
//                             height: 48px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.posts-modal .modal-dialog {
    max-width: 565px;

    .modal-content {
        background: #fff;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        padding: 20px;

        .modal-body {
            padding: 0;

            .form-group {
                margin-bottom: 24px;

                input.form-control {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 91.65%;
                    color: #A2A2A2;
                    height: 49px;
                }
                textarea.form-control {
                    height: 350px;
                    resize: inherit;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 91.65%;
                    color: #A2A2A2;
                }
            }

            .image-upload {
                margin-bottom: 10px;

                .fileupload {
                    background: #FAFAFA;
                    border-radius: 5px;
                    padding: 10px;
                    position: relative;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 275px;

                    &::after {
                        position: absolute;
                        left: 10px;
                        right: 10px;
                        width: calc(100% - 20px);
                        border: 2px dashed #B2C1C0;
                        border-radius: 5px;
                        height: calc(100% - 20px);
                        content: '';
                        margin: auto;


                        // position: absolute;
                        // right: 20px;
                        // top: 20px;
                        // border: none;
                        // background: #fff;
                        // border-radius: 100px;
                        // height: 24px;
                        // width: 24px;
                        // padding: 0;
                        // z-index: 9;
                    }

                    input[type="file"] {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        opacity: 0;
                    }

                    p {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 91.65%;
                        color: #91A0AB;
                        margin-bottom: 5px;
                    }

                    strong {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 91.65%;
                        color: #91A0AB;
                        margin-bottom: 5px;
                    }

                    button.folder-upload.btn.btn-primary {
                        background: transparent;
                        border: none;
                        border-radius: 3px;
                        width: auto;
                        position: relative;
                        z-index: 1;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 91.65%;
                        color: #FFFFFF;
                        margin-bottom: 0;
                        height: auto;

                        input[type="file"] {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .modal-footer {
            border: none;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 480px) {
    .posts-modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .form-group {
                        textarea.form-control {
                            height: 160px;
                        }
                    }
                }
            }
        }
    }
}

// img.profilePreviewImg {
//     width: 30rem;
//     height: 10rem;
//     margin-bottom: 1rem;
// }
.previewImg img {
    height: calc(100% - 20px);
    max-width: 100%;
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 5px;
}
.previewImg {
    margin-bottom: 0;
    margin-top: 0;
}
img.post{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 80px;
}
.fileupload.uploadImage {
    button.crossBtn {
        position: absolute;
        right: 20px;
        top: 20px;
        border: none;
        background: #fff;
        border-radius: 100px;
        height: 24px;
        width: 24px;
        padding: 0;
        z-index: 9;
    }
    .imgUpload {
        padding-top: 0 !important;
    }
}